body {
    background: #ADD8E6;
    width: 900px;
    margin: 0 auto;
  } 
h1 {
    color: rgb(223, 177, 51);
    font-size: 50px;
    font-family: monospace;
    margin-top: 0%;
}

.topNav {
    background:lightgray;
    text-align: left;
    padding-left: 25px;
    font-size: 25px;    
    float: middle;
    margin: 0 auto;
    word-spacing: 15px;
    font-weight: bold;
    border-bottom-left-radius:1% 50%;
    border-bottom-right-radius:1% 50%;
    border-top-right-radius:1% 50%;
    border-top-left-radius:1% 50%;
} /*this changes the navigation bar*/

.divThree {
    text-align: center;
    z-index: -1;
    position: relative;
}


.divOne {
    background: white;
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 20px;
}

a img { display:none; }
a:hover img {
    display:block;
    margin: 0 auto;     
}

.medium-btn {
    width: 150px;
    height: 45px;
}

#box {
    background-image: url(old-trafford-goal.png);
    text-align: center;
    margin: 0 auto;
    height: 384px;
    width: 900px;
}

div#bruno {
    content:url(bruno-fernandes-slide.png);
    width: 200px;
    height: 250px;
    padding-top: 80px;
 }​



.divTwo {
    text-align: center;
}

#webLogos {
    content:url(html-css-js.png);
    margin: 0 auto;
    padding: 15px;
}